
.moviee .movie-title{
    font-size: 3rem;
    font-weight: 600;
}
.moviee .date{
    font-size: .9rem;
    color: gray;
}
.moviee .overview{
    font-size: 1.5rem;
}
.moviee .star{
    color: black;
    font-size: 1.3rem;
    margin-right: .5rem;
}
.moviee .fullStar{
    color: black;
}
.moviee .emptyStar{
    color: #ccc;
}

.moviee .heart-icon {
  font-size: 70px;
  color: #ddd;
  transition: all 0.3s;
}
.moviee .heart-icon.active {
  color: #ffe353;
}

.moviee .movie-badge{
    padding: 8px 32px;
    background-color: #FFE353;
    font-size: 1rem;
    border-radius: 1.5rem;
    margin-right: .5rem;
}
.moviee .duration{
   font-weight: 700;
   margin-right: .8rem;
}
.moviee .redirect-btn{
    padding: 8px 32px;
    border:1px solid #FFE353;
    background-color: transparent;
    text-decoration: none;
    color: rgb(61, 59, 59);
    font-size: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .3 ease-in-out;
}
.redirect-btn:hover {
  background-color: #FFE353;
}



@media (max-width: 768px) {
  .moviee .details {
    padding:2rem 1rem !important;
  }
  .moviee .movie-title {
    font-size: 1.8rem;
  }
  .moviee .date {
    font-size: .75rem;
  }
  .moviee .rate .star {
    font-size: .9rem;
    margin-right: .2rem;
  }
  .moviee .heart-icon {
  font-size: 32px;
}
  .moviee .overview {
    font-size: 1.1rem;
  }
  .moviee .movie-badge{
    padding: 6px 28px;
    font-size: .9rem;
    margin-bottom: 1.2rem;
}
.moviee .duration{
   font-weight: 600;
   margin-right: .2rem;
}
.moviee .marvel-img{
    width: 150;
    height: 30;
    margin-bottom: .7rem;
}
}
@media (min-width: 769px) and (max-width: 1200px) {
  /* .moviee .details {
    padding:2rem 1rem !important;
  } */
  .moviee .movie-title {
    font-size: 2.4rem;
  }
  .moviee .date {
    font-size: .9rem;
  }
  .moviee .rate .star {
    font-size: 1rem;
    margin-right: .3rem;
  }
  .moviee .heart-icon {
  font-size: 2.9rem;
}
  .moviee .overview {
    font-size: 1.3rem;
  }
  .moviee .movie-badge{
    padding: 6px 32px;
    font-size: .9rem;
}
.moviee .marvel-img{
    width: 170;
    height: 40;
    margin-bottom: .7rem;
}
}